 .u-section-1 {
  background-image: none;
  min-height: 1307px;
}

.u-section-1 .u-text-1 {
  font-size: 3.61111rem;
  text-transform: none;
  font-weight: 700;
  margin: 73px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.27778rem;
  width: 778px;
  margin: 15px auto 0;
}

.u-section-1 .u-shape-1 {
  height: 328px;
  margin-top: 273px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -547px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 660px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-4 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 269px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 154px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 628px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  line-height: 1.8;
  margin: 20px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 147px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-6 {
  min-height: 280px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-layout-cell-7 {
  min-height: 498px;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-image-3 {
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-text-8 {
  margin-left: 0;
  margin-right: 0;
  line-height: 1.8;
  margin-bottom: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1158px;
  }

  .u-section-1 .u-text-2 {
    width: 689px;
  }

  .u-section-1 .u-shape-1 {
    height: 291px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 544px;
  }

  .u-section-1 .u-image-1 {
    height: 169px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 222px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 127px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 518px;
  }

  .u-section-1 .u-image-2 {
    height: 169px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 121px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 231px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 411px;
  }

  .u-section-1 .u-image-3 {
    height: 169px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1901px;
  }

  .u-section-1 .u-text-1 {
    width: 615px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 66px;
    margin-right: 66px;
  }

  .u-section-1 .u-shape-1 {
    height: 437px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 200px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 146px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    height: 200px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 139px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 531px;
  }

  .u-section-1 .u-layout-cell-7 {
    min-height: 100px;
  }

  .u-section-1 .u-image-3 {
    height: 440px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2383px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    height: 768px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-image-1 {
    height: 347px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 314px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 219px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 347px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 209px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 398px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 347px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1562px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-1 {
    height: 231px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 198px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 138px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-2 {
    height: 231px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 132px;
  }

  .u-section-1 .u-layout-cell-6 {
    min-height: 251px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-image-3 {
    height: 231px;
  }
}